#ident "@(#)$Format:LocalFoodAI_lanfr144:.gitignore:%an:%ae:%ad:%cn:%ce:%cd:%H:%D:%N$"
*.agent-backup
*.csv
*.db
*.log
*.pyc
*.sql.gz
*.sqlite
*.tar
*.tar.gz
*.zip
*.wbk
*.swp
.mylogin.cnf
.DS_Store
.agent-backup/
.agent/
.antigravity/
.claude/
.codebuddy/
.cursor/
.env
.gemini/
.github/
.gitignore
.idea/
.mylogin.cnf
.trae/
.venv/
.vscode/
__pycache__/
app/venv/
documentation/
frontend/.angular/
frontend/dist/
frontend/node_modules/
node_modules/
scratch/*
!scratch/*.py
venv/
vscode