#ident "@(#)$Format:LocalFoodAI:app.py:%an:%ae:%ad:%cn:%ce:%cd:%H:%D:%N$"
pandas
pymysql
myloginpath
streamlit>=1.41.0
ollama
bcrypt
pysnmp
sqlalchemy
requests
fpdf2
extra-streamlit-components
pathspec
paramiko