apiVersion: v1
kind: Secret
metadata:
  name: food-ai-secrets
  namespace: food-ai
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "placeholder_root_pass"
  DB_OWNER_PASS: "placeholder_owner_pass"
  DB_READER_PASS: "placeholder_reader_pass"
  DB_LOADER_PASS: "placeholder_loader_pass"
  DB_AUTH_PASS: "placeholder_auth_pass"

  EMAIL_USER: "your_email@example.com"

  EMAIL_PASS: "placeholder_email_pass"
